
.charsheet {
	border-color: green;
	border-style: solid;
	min-width: 720px;
}

input {
	color: black;
}


textarea {
	color: black;
}

h1 {
	color: black;
	font-family: helvetica;
	font-weight: bold;
	font-size: 32px;
}

h2 {
	color: black;
	font-family: helvetica;
	font-weight: bold;
	font-size: 18px;
}

h3 {
	color: black;
	font-family: "contrail one";
	font-weight: normal;
	font-size: 20px;
	text-align: bottom;
}

.sheet-horizontal-line {
	background-color: #242424;
	height: 2px;
}

.sheet-horizontal-flow {
	display: flex;
	flex-direction: row;
}

.sheet-vertical-flow {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sheet-section {
}

.sheet-section-header {
	background-color: #cfcfcf;
	margin-top: 10px;
}

.sheet-section-single-column {
	flex: 0 0 auto;
	width: 45px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.sheet-section-fill-column {
	flex: 1 1 auto;
}

.sheet-section-fit-column {
	flex-basis: auto;
	margin-right: 15px;
}

.sheet-section-infotext {
	height: 18px;
	resize: vertical;
	width: 99%;
	margin-bottom: 0px;
}

.sheet-large-header {
	color: black;
	font-family: helvetica;
	font-weight: bold;
	font-size: 32px;
}

/* Input */
input.sheet-single-column {
	width: 45px;
	text-align: center;
}

input.sheet-fill-column {
	flex: 1 1 auto;
}

/* Pages */

.sheet-tab-button {
	height: 16px;
	width: 16px;
	margin-left: 2px;
	padding: 0px;
	border: 1px solid #242424;
	border-radius: 3px;
	
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-color: transparent;
	
}

button.sheet-tab-button:hover {
	border-color: red;
}

.sheet-codex-button {
	background-image: url(https://raw.githubusercontent.com/joshmcgee/Warhammer_Roll20_Sheet/master/Codex_Icon.png);
}

.sheet-army-button {
	background-image: url(https://raw.githubusercontent.com/joshmcgee/Warhammer_Roll20_Sheet/master/Army_Icon.png);
}

.sheet-options-button {
	background-image: url(https://raw.githubusercontent.com/joshmcgee/Warhammer_Roll20_Sheet/master/Options_Icon.png);
}

/* Options */
.sheet-options-switch {
	margin-left: 30px;
}

/* Models */
.sheet-repeating_models-info {
	
}

/* Weapons */
.sheet-repeating_weapons-info {
	
}

input[type="text"].sheet-weapon-name {
	width: 100px;
}

input[type="text"].sheet-weapon-range {
	width: 100px;
	text-align: center;
}

input[type="text"].sheet-weapon-type {
	width: 100px;
}

input[type="text"].sheet-weapon-abilities {
	width: 240px;
}

/* Other Wargear */
.sheet-repeating_other-wargear-info {
	
}

input[type="text"].sheet-other-wargear-name {
	width: 200px;
}

input[type="text"].sheet-other-wargear-ability {
	width: 520px;
}

/* Wargear */
.sheet-repeating_wargear-info {
	
}

/* Abilities */
.sheet-repeating_abilities-info {
	
}

/* Keywords */
input[type="text"].sheet-keywords-text {
	font-weight: bold;
	font-family: helvetica;
	color: black;
}







